<a href="https://colab.research.google.com/github/ktg6569/0627_test/blob/main/0627_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플 생성

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

튜플은 중복o 변경 x

In [14]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

항목이 하나만 있는 튜플을 만들때는 쉼표 추가

In [15]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

튜플의 유형은 tuple

In [16]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

tuple() 생성자도 사용가능

In [17]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

튜플에 액세스

In [18]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

kiwi 제외

In [19]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

뒤부터 검색하려면 음수

In [20]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

튜플을 변경하려면 리스트로 사용

In [21]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

튜플에 항목 추가 1.리스트사용

In [22]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

튜플에 항목 추가 2.튜플에 튜플추가

In [23]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

튜플의 항목 제거

In [24]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

del은 튜플 완전 삭제

In [25]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

튜플 패킹과 언패킹

In [26]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

*사용 (변수의 개수가 값보다 적을경우 나머지 한번에 다 넣음)

In [27]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [28]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

튜플 반복문

In [29]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

인덱스 번호 반복

In [30]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

while 로 반복

In [31]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

튜플 결합

In [32]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

튜플 곱하기

In [33]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

✅ 1. (좌표, 속도) 튜플로 과속 여부 판단

In [34]:
data = [(0, 40), (1, 55), (2, 70)]  # (시간초, 속도)

for time, speed in data:
    if speed > 50:
        print(f"{time}초: 과속! 현재 속도 {speed}km/h")
    else:
        print(f"{time}초: 정상 주행 중 ({speed}km/h)")

0초: 정상 주행 중 (40km/h)
1초: 과속! 현재 속도 55km/h
2초: 과속! 현재 속도 70km/h

✅ 2. (도로 타입, 현재 속도)로 속도 위반 여부 확인

In [35]:
speed_limit = {
    "고속도로": 100,
    "도심": 50,
    "학교 앞": 30
}

conditions = [("고속도로", 90), ("도심", 60), ("학교 앞", 25)]

for road, speed in conditions:
    if speed > speed_limit[road]:
        print(f"{road}에서 과속! 제한 {speed_limit[road]}km/h, 현재 {speed}km/h")
    else:
        print(f"{road} 주행 정상 ({speed}km/h)")

고속도로 주행 정상 (90km/h)
도심에서 과속! 제한 50km/h, 현재 60km/h
학교 앞 주행 정상 (25km/h)

✅ 3. (장애물 위치, 종류) 튜플로 회피 전략 선택

In [36]:
obstacles = [((10, 5), "보행자"), ((20, 10), "콘"), ((25, 15), "자전거")]

for position, obj_type in obstacles:
    if obj_type == "보행자":
        print(f"{position}에서 사람 감지 → 정지")
    else:
        print(f"{position}에서 {obj_type} 감지 → 우회")

(10, 5)에서 사람 감지 → 정지
(20, 10)에서 콘 감지 → 우회
(25, 15)에서 자전거 감지 → 우회

✅ 4. (신호등 위치, 색상)으로 행동 결정

In [37]:
traffic_lights = [((5, 5), "green"), ((10, 10), "red"), ((15, 15), "yellow")]

for pos, color in traffic_lights:
    if color == "green":
        print(f"{pos}: 진행")
    elif color == "red":
        print(f"{pos}: 정지")
    else:
        print(f"{pos}: 감속")

(5, 5): 진행
(10, 10): 정지
(15, 15): 감속

✅ 5. (카메라ID, 인식 표지판)으로 주행 전략 변경

In [38]:
camera_data = [(1, "속도제한30"), (2, "정지"), (3, "좌회전")]

for cam_id, sign in camera_data:
    print(f"카메라 {cam_id} 감지 표지판: {sign}")

    if sign == "속도제한30":
        print("→ 속도 30km/h로 조정")
    elif sign == "정지":
        print("→ 차량 정지")
    elif sign == "좌회전":
        print("→ 좌회전 준비")

카메라 1 감지 표지판: 속도제한30
→ 속도 30km/h로 조정
카메라 2 감지 표지판: 정지
→ 차량 정지
카메라 3 감지 표지판: 좌회전
→ 좌회전 준비